.App{
  /* background-color: pink; */
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  font-family: Sirichana;
  background: rgb(34, 40, 49);
}
@font-face {
  font-family: "NetAdora1";
  src: url("./Fonts/FontsFree-Net-adora1.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Sirichana";
  src: url("./Fonts/Sirichana\ W31\ Bold.ttf");
  font-style: normal;
  font-weight: normal;
}